<h1>Metas</h1>
<ul class="list-group" ng-controller="metasController">
    {{#each metas}}
    <li class="list-group-item" ng-click="hola({{id}},{{status}})">
        <div>
            {{#if status }}
                <strong><strike>{{nombre}}</strike></strong><br/> {{descripcion}}
            {{else}}
                <strong>{{nombre}}</strong><br/> {{descripcion}}
            {{/if}}
            <br/>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click="editP({{id}})">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="deleteP({{id}})">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </li>
    {{/each}}
    <script src="/javascripts/metasController.js"></script>
</ul>
<div class="col-md-4">
    <a href="/metas/agregarMeta" class="btn btn-default">Agregar meta</a>
</div>

